{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">

{% endblock %}
{% block body %}


    {{ form_errors(registrationForm) }}
    <div class="signin">
        <div class="content">
            {{ form_start(registrationForm) }}
            <h2>Register</h2>
            <div class="inputBox">
            {{ form_row(registrationForm.username) }}
            </div>
            <div class="inputBox">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            </div>
            <div class="terms">
            {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}

        </div>
    </div>
    {{ include('paralax.html.twig') }}
{% endblock %}
