{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/explorer.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="mainExplorerContainer">
        {% for fruitKey, fruitResults in results %}
            <div class="fruitExplorerContainer">
                <div class="fruitExplorerContainerTop">
                    <img class="fruitImage" src="img/{{ fruitKey }}.png">
                    <h3> {{ descriptions[fruitKey] }} </h3>
                </div>
                <div class="fruitExplorerContainerBotButtons">
                    <button class="slideButton" id="{{ 'slideLeft_' ~ fruitKey }}" type="button"><</button>
                    <div class="fruitExplorerContainerBot" id="{{ 'containerBot_' ~ fruitKey }}">
                        {% for result in fruitResults|slice(0, 10) %}
                            <a href="/result/{{ result.id }}">
                                <div class="albumCard">
                                    <img class="albumThumb" src="{{ result.thumb }}">
                                    <p class="albumTitle">
                                        <strong>
                                            {{ result.title|split(' - ')[1]|slice(0,17)}}
                                            {% if result.title|split(' - ')[1]|length > 17 %}
                                                ...
                                            {% endif %}
                                        </strong><br><i>
                                            {{ result.title|split(' - ')[0]|slice(0,20)}}
                                            {% if result.title|split(' - ')[0]|length > 20 %}
                                                ...
                                            {% endif %}</i>
                                    </p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <button class="slideButton" id="{{ 'slideRight_' ~ fruitKey }}" type="button">></button>
                </div>
            </div>

            <script>
                const buttonRight_{{ fruitKey }} = document.getElementById('{{ 'slideRight_' ~ fruitKey }}');
                const buttonLeft_{{ fruitKey }} = document.getElementById('{{ 'slideLeft_' ~ fruitKey }}');

                buttonRight_{{ fruitKey }}.onclick = function () {
                    document.getElementById('{{ 'containerBot_' ~ fruitKey }}').scrollLeft += 300;
                };
                buttonLeft_{{ fruitKey }}.onclick = function () {
                    document.getElementById('{{ 'containerBot_' ~ fruitKey }}').scrollLeft -= 300;
                };


                function addCardListeners(container) {
                const cards = container.querySelectorAll('.albumThumb');

                cards.forEach(card => {
                    card.addEventListener('mouseenter', function() {
                    const bounds = this.getBoundingClientRect();
                    const currentCard = this;

                    function rotateToMouse(e) {
                        const mouseX = e.clientX;
                        const mouseY = e.clientY;
                        const leftX = mouseX - bounds.x;
                        const topY = mouseY - bounds.y;
                        const center = {
                        x: leftX - bounds.width / 2,
                        y: topY - bounds.height / 2
                        };
                        const distance = Math.sqrt(center.x ** 2 + center.y ** 2);

                        currentCard.style.transform = `
                        scale3d(1.07, 1.07, 1.07)
                        rotate3d(
                            ${-center.y / 100},
                            ${center.x / 100},
                            0,
                            ${Math.log(distance) * 3}deg
                        )
                        `;
                    }

                    document.addEventListener('mousemove', rotateToMouse);

                    this.addEventListener('mouseleave', function() {
                        document.removeEventListener('mousemove', rotateToMouse);
                        this.style.transform = '';
                        this.style.background = '';
                    });
                    });
                });
                }

                {% for fruitKey, fruitResults in results %}
                    addCardListeners(document.getElementById('{{ 'containerBot_' ~ fruitKey }}'));
                {% endfor %}
            </script>
        {% endfor %}
    </div>
{% endblock %}