{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/explorer.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="mainExplorerContainer">
        {% for fruitKey, fruitResults in results %}
            <div class="fruitExplorerContainer">
                <div class="fruitExplorerContainerTop">
                    <img src="img/{{ fruitKey }}.png"></img>
                    <h3>{{ fruitResults.0.title }}</h3>
                </div>
                <div class="fruitExplorerContainerBotButtons">
                    <button class="slideButton" id="{{ 'slideLeft_' ~ fruitKey }}" type="button"><</button>
                    <div class="fruitExplorerContainerBot" id="{{ 'containerBot_' ~ fruitKey }}">
                        {% for result in fruitResults|slice(0, 10) %}
                            <a href="#"><div class="albumCard">
                                    <img src="{{ result.thumb }}">
                                    <p class="albumTitle"><strong>{{ result.title|split(' - ')[0] }}</strong><br>{{ result.title|split(' - ')[1] }}</p>
                                </div></a>
                        {% endfor %}
                    </div>
                    <button class="slideButton" id="{{ 'slideRight_' ~ fruitKey }}" type="button">></button>
                </div>
            </div>

            <script>
                const buttonRight_{{ fruitKey }} = document.getElementById('{{ 'slideRight_' ~ fruitKey }}');
                const buttonLeft_{{ fruitKey }} = document.getElementById('{{ 'slideLeft_' ~ fruitKey }}');

                buttonRight_{{ fruitKey }}.onclick = function () {
                    document.getElementById('{{ 'containerBot_' ~ fruitKey }}').scrollLeft += 300;
                };
                buttonLeft_{{ fruitKey }}.onclick = function () {
                    document.getElementById('{{ 'containerBot_' ~ fruitKey }}').scrollLeft -= 300;
                };
            </script>
        {% endfor %}
    </div>
{% endblock %}
