
{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/searchAbout.css') }}">
    <link rel="stylesheet" href="{{ asset('css/explorer.css') }}">
    <link rel="stylesheet" href="{{ asset('css/favorite.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 id="fruit-title">Vos favoris</h1>
        <div class="albums-wrapper">
            {% for album in favorite %}
                <a href="/result/{{ album.id }}" data-year="{{ album.year|default('') }}"
                   data-genres="{{ album.genre|default([])|join(',') }}" class="sortable-item">
                    <div class="albumCard">
                        <img class="albumThumb" src="{{ album.coverImage }}" alt="Album Image">
                        <p class="albumTitle">
                            <strong>{{ album.title|slice(0,30) }}
                                {% if album.title|length > 30 %}
                                    ...
                                {% endif %}
                            </strong><br>
                            {{ album.artist|slice(0,20) }}
                            {% if album.artist|length > 20 %}
                                ...
                            {% endif %}
                        </p>
                        <a class="btn" id="dislikeBtn" data-id={{album.id}}>&#10006; Delete</a>   
                    </div>
                </a>
            {% endfor %}
            <script>
                    const deleteButtons = document.querySelectorAll('.btn');
                    deleteButtons.forEach(function(deleteButton) {
                        deleteButton.addEventListener('click', function(e) {
                            e.preventDefault();

                            const albumId = deleteButton.getAttribute('data-id');
                            const result = { id: albumId };

                            console.log(result);

                            const xhr = new XMLHttpRequest();
                            xhr.open('POST', '/remove-favorite', true);
                            xhr.setRequestHeader('Content-Type', 'application/json');
                            xhr.send(JSON.stringify(result));
                            window.location.reload();
                        });
                    });

            </script>
        </div>
    </div>
{% endblock %}