{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main>
        <h1>{% if is_granted('IS_AUTHENTICATED_FULLY') %}Bonjour {{ app.user.username }} <br>{% endif %}“Bienvenue sur TuttiFrutti. J'espère que vous passerez un délicieux moment„</h1>
        {{ include('paralax.html.twig') }}
    </main>

{% endblock %}


