{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main>
        <h1>“Bienvenue sur TuttiFrutti. J'espère que vous passerez un délicieux moment„</h1>
        <div class="container">
            <div class="section">
                <img id="fruit" value="2" class="banane" src="{{ asset('img/banane.png') }}" alt="banane">
                <img id="fruit" value="4" class="pomme" src="{{ asset('img/pomme.png') }}" alt="pomme">
                <img id="fruit" value="4" class="grenade" src="{{ asset('img/grenade.png') }}" alt="grenade">
                <img id="fruit" value="2" class="mure" src="{{ asset('img/mure.png') }}" alt="mure">
            </div>
            <div class="section">

        </div>
        </div>
    </main>
    <script>
        document.addEventListener("mousemove", parallax);
        function parallax(event) {
            this.querySelectorAll("#fruit").forEach((shift) => {
                const position = shift.getAttribute("value");
                const x = (window.innerWidth - event.pageX * position) / 90;
                const y = (window.innerHeight - event.pageY * position) / 90;

                shift.style.transform = `translateX(${x}px) translateY(${y}px)`;
            });
        }
    </script>
{% endblock %}


