{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/searchAbout.css') }}">
    <link rel="stylesheet" href="{{ asset('css/explorer.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="fruit-title">
        <h1>{{ title }}</h1>
    </div>
    <div id="fruit-wrapper">
        <div id="fruit-filter" style="width: 18%;">
            <h3>Filtres actifs</h3>
            <div id="fruit-active-filter">
            </div>
            <h3>Tous les filtres</h3>
            <div id="fruit-all-filter">
                <button id="fruit-filter-genre" class="fruit-filter-btn" name="Genre"><h4>Genre</h4></button>
                <button id="fruit-filter-annee" class="fruit-filter-btn" name="Annee"><h4>Année</h4></button>
                <div id="slider-wrapper" class="slider-wrapper">
                    <div class="slider-values">
                        <span id="range1">
                            1900
                        </span>
                        <span> &dash; </span>
                        <span id="range2">
                                        2024
                        </span>
                    </div>
                    <div class="slider-container">
                        <div class="slider-track"></div>
                        <input type="range" min="1900" max="2024" value="1900" id="slider-1" oninput="slideOne()">
                        <input type="range" min="1900" max="2024" value="2024" id="slider-2" oninput="slideTwo()">
                    </div>
                </div>
            </div>
        </div>
        <div class="fruit-filter-divider"></div>
        <div class="albums-wrapper">
            {% for result in results %}
                <a href="/result/{{ result.id }}" data-year="{{ result.year|default('') }}"
                   data-genres="{{ result.genre|default([])|join(',') }}" class="sortable-item">
                    <div class="albumCard">
                        <img class="albumThumb" src="{{ result.thumb }}" alt="Album Image">
                        <p class="albumTitle">
                            <strong>{{ result.title|split(' - ')[0]|slice(0,30) }}
                                {% if result.title|split(' - ')[1]|length > 30 %}
                                    ...
                                {% endif %}
                            </strong><br>
                            {{ result.title|split(' - ')[1]|slice(0,20) }}
                            {% if result.title|split(' - ')[1]|length > 20 %}
                                ...
                            {% endif %}
                        </p>
                    </div>
                </a>
            {% endfor %}
            <script src="{{ asset('js/allbumsFilter.js') }}"></script>
        </div>
    </div>
{% endblock %}