
{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/explorer.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
        <div class="albumCard" style="padding-top: 20%">
            {% if result.images.0.uri is defined %}
                <img class="albumThumbnail" width="150" src="{{ result.images.0.uri }}" alt="album thumbnail">
            {% else %}
                <img class="albumThumbnail" width="150" src='https://m.media-amazon.com/images/I/61QbG3IAqlL._AC_UF350,350_QL80_.jpg' alt="album thumbnail">
            {% endif %}
            <p class="albumTitle" ><strong>{{ result.artists.0.name}}</strong><br>{{ result.title }}</p>
            {%  for track in result.tracklist %}
                <p class="albumTrack">{{ track.duration }} {{ track.title }}</p>
            {% endfor %}
        </div>
        {% if app.user and result.liked == false %}

            <a href="" class="btn btn-primary">Add Favorite</a>

            <script>

                var addFavorite = document.querySelector('.btn');
                addFavorite.addEventListener('click', function(e) {
                    result = {{ result|json_encode|raw }};
                    //without fetch
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/add-favorite', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.send(JSON.stringify(result));
                });
            </script>
        {% endif %}
{% endblock %}