{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}





    <br><br><br><br><br><br>
    {% for result in results %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title
                            ">{{ result.title }}</h5>
                            <p class="card-text">{{ result.genre.0 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}